@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color: #f9f5f2;
    --second-bg-color: #fcda68;
    --text-color: #222222;
    --main-color: #8e7bef;
    --contrast: darkcyan;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Inter', sans-serif;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
}



.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-child(2){
    margin-bottom: 3rem;
    margin-top: 3rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;
    font-family: 'Inter', sans-serif;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-family: 'Inter', sans-serif;
}

.container-redes h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    background-color: var(--main-color);
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--contrast);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--contrast);
    
}

.btn{
    display: flex;
    padding: 1rem 2.8rem;
    width: 50%;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    gap: 10px;
    font-family: 'Inter', sans-serif;
}

.btn:hover{
    box-shadow: none;
}


.experiencias-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.experiencias img{
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.experiencias-content h2{
    text-align: left;
    line-height: 1.2;
}

.experiencias-content h3{
    font-size: 2.6rem;
}

.experiencias-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portafolio h2{
    margin-bottom: 5rem;
}

.portafolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.portafolio-container 
.portafolio-servicios{
    flex: 1;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2%;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}


.portafolio-container 
.portafolio-servicios:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.portafolio-servicios i {
    font-size: 7rem;
    color: var(--main-color);
}

.portafolio-servicios h3{
    font-size: 2.6rem;
}

.portafolio-servicios p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.imagen{
    width: 20vw;
}

.contacto h2{
    margin-bottom: 5rem;
}

.contacto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.contacto-container .servicios-contacto{
    flex: 1;
    background: transparent;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid transparent;
    gap: 2rem;
}

.servicios-contacto h3{
    margin-top: 3rem;
    font-size: 2rem;
}

.servicios-contacto p{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.servicios-contacto a{
    border: .2rem solid transparent;
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 4rem 2rem 3rem 0; 
    transition: .5s ease;

}

.servicios-contacto a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn1{
    display: flex;
    padding: 1rem 2.8rem;
    width: 50%;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    gap: 10px;
}

.btn1:hover{
    box-shadow: none;
}

.btn1::before{
    content: '';
    background: url('./iconos/mail\ 1.svg') no-repeat;
    background-size: content;
    width: 25px;
    height: 25px;
    display: block;
}

.experiencias-habilidades{
    display: flex;
    padding: 1;
    margin-left: 0 auto;
    align-items: flex-start;
    background: var(--second-bg-color);
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    gap: 10px 10px
}

.experiencias h2{
    width: 200px;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
}

.experiencias p{
    font-size: 1.5rem;
    width: 350px;

}

.portafolio h3{
    font-size: 2.5rem;
}

.portafolio p{
    margin-top: 10px;
    font-size: 1.5rem;
}

.experiencias-habilidades .experiencias{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    border: 1px solid transparent;
    align-items: center;
    margin: 0 auto;
    gap: 70px;
}

.iconos h2{
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.contacto h2{
    margin-bottom: 5rem;
}

.iconos figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100px;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 30px;
}

.image{
    width: 50px;
    height: 50px;
}

figcaption{
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.imagen2{
    border: .2rem solid transparent;
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 4rem 2rem 3rem 0; 
    transition: .5s ease;
}


.imagen2:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* Breakpoins */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar .active{
        display: block;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;

    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

}